<div class="container">
  <h1>タスク一覧</h1>
  <% if notice.present? %>
  <p class="alert alert-success"><%= notice %></p>
  <% end %>
<div class="search_container">
  <%= form_with(model: @task, url: tasks_path, method: :get,local: true) do|f| %>
    <div class="search_title">
      <%= f.label :title, "タスク名　" %>
      <%= f.text_field :title, placeholder:"タスク名を入力", id:"search_textarea" %>
    </div>
    <div class="search_status">
      <%= f.label :status, '　ステータス　' %>
      <%= f.select :status, Task.task_statuses.keys, include_blank:"-" %>
    </div>
    <div class="search_btn">
      <%= f.submit "検索" %>
    </div>
  <% end %>
</div>


<div class="main_container">
<table>
 <div class="task_item">
  <tr>
    <th>タスク名</th>
    <th>詳細</th>
    <th>ステータス</th>
  </tr>
    <% @tasks.each do |task| %>
    <tr class = "task_row" >
    <td><%= task.title %></td>
    <td><%= task.content %></td>
    <td><%= task.status %></td>

    <td><%= link_to '編集', edit_task_path(task.id), data: { confirm: '編集していいですか？' } %></td>
    <td><%= link_to "詳細", task_path(task.id) %></td>
    <td><%= link_to '削除', task_path(task.id), method: :delete, data: { confirm: '削除してよいですか？' } %></td>
  </tr>
 </div>
<% end %>
</table>
</div>

<div>
    <%= link_to 'タスクを登録する',new_task_path, class:'btn btn-info' %>
</div>
</div>
